
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>MvcNgDemo</title>
    <!-- Bootstrap core CSS -->
    <link href="~/contents/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()
    <!-- Bootstrap core JavaScript -->
    <script src="~/scripts/jquery.min.js"></script>
    <script src="~/scripts/bootstrap.bundle.min.js"></script>

    <script src="~/scripts/js/main.js"></script>
    <script src="~/scripts/js/polyfills.js"></script>
    <script src="~/scripts/js/runtime.js"></script>
    <script src="~/scripts/js/styles.js"></script>
    <script src="~/scripts/js/vendor.js"></script>

</body>
</html>
