<div class="card col-md-12" style="margin-top: 5px;margin-bottom: 5px;">
    <!-- <div class="card-header bg-dark text-white">{{ customer.FirstName }}</div> -->
    <div class="card-body">
        <h5 class="card-title">{{ customer.FirstName }}</h5>
        <p class="card-text">
            ID: {{ customer.Id }}<br />
            First Name: {{ customer.FirstName }}<br />
            Last Name: {{ customer.LastName }}<br />
            Phone: {{ customer.Phone }}<br />
            City: {{ customer.City }}<br />
            Country: {{ customer.Country }}
        </p>
    </div>
</div>
